body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  text-align: center;
  color: #2c2c2c;
}

h1 {
  font-size: 2rem;
  margin-top: 40px;
  color: #8e0047;
}

h2 {
  font-size: 1.8rem;
  margin-top: 20px;
}

h3 {
  margin-top: 40px;
  font-size: 1.3rem;
}

img {
  width: 300px;
  margin: 30px 0;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

ul li {
  font-size: 1.2rem;
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(75, 67, 67, 0.2);
}

a {
  display: inline-block;
  margin: 20px 0 50px 0;
  padding: 12px 20px;
  background: #8e0047;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  background: #ff0f7b;
  transform: scale(1.05);
}
#countdown {
  font-size: 2rem;
  background: white;
  color: #8e0047;
  padding: 15px 25px;
  border-radius: 20px;
  display: inline-block;
  margin: 15px 0 30px 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-weight: bold;
}
.balloons-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.balloon {
  position: absolute;
  bottom: -150px;
  border-radius: 50% 50% 50% 50%;
  animation: floatUp linear forwards;
  opacity: 0.9;
}

.balloon::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 50px;
  background: #444;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

@keyframes floatUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120vh);
  }
}
.pop {
  animation: explode 0.3s ease-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: transparent !important;
  box-shadow: none !important;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}



